body{
    /*background-image: url("../image/large.jpg");
    background-repeat: no-repeat;
    background-attachment: */
    padding: 0;
    margin: 0;
}
img{
    display: block;
    width: 100%;
}
form{
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
}